*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  list-style: none;
  border: none;
  background-color: transparent;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $color-white;
  font-family: "Montserrat", Helvetica, Arial, Verdana, Tahoma;
  font-size: $font-size-small;
  cursor: default;
}

h1,
h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  padding: 3rem 0;
}

p {
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  padding: 3rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  min-height: calc(100vh - #{$nav-height});
  margin-top: $nav-height;
}

.home {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.about,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.portfolio-figure,
.portfolio-article {
  margin: 0;
}

.portfolio-figure {
  padding: 0;
}

.btn-link {
  color: $color-primary;
  font-size: $font-size-small;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: solid $color-primary 1px;
  text-decoration: none;
}

.btn-link:hover {
  color: $color-white;
  background: $color-primary;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .home,
  .about,
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }

  .portfolio-figure,
  .portfolio-article {
    margin: 1rem 4rem;
  }

  .portfolio-figure {
    padding: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .portfolio-figure {
    padding: 6rem;
  }
}
