.nav-small,
.nav-large {
  width: 100%;
  height: $nav-height;
  background-color: $color-white;
  box-shadow: 0px 1px 5px $color-light;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  a {
    text-decoration: none;
  }

  a,
  a:visited {
    color: $color-black;
  }

  a:hover {
    color: $color-primary;
  }
}

// Nav mobile

.nav-large {
  display: none;
}

.nav-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  .nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin: 1rem 0;
    }
  }

  .burger-menu,
  .close-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .nav-bar {
      margin: 0.2rem 0;
      max-width: 3rem;
    }
  }

  #overlay {
    background-color: $color-white;
    width: 100vw;
    height: calc(100vh - #{$nav-height});
    position: fixed;
    top: $nav-height;
    left: 0;
    overflow: hidden;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Nav larger devices

@media screen and (min-width: 768px) {
  .nav-small {
    display: none;
  }

  .nav-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    .nav-items {
      list-style: none;
      display: flex;
      li {
        margin: 1rem 2rem 1rem 0;
      }
    }
  }
}
